.hideScroll::-webkit-scrollbar {
  width: 0.5em;
}
.hideScroll:-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(69, 115, 224);
}

.selected {
  --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

body {
  background-color: whitesmoke;
}
